<form id="scvm-form" class="custom-dialog scvm-dialog">
  <div class="section">
    <div class="subtitle">{{localize "MB.ScvmfactoryChooseFromClasses"}}</div>
    {{#each sortedSources as |sourceData sourceIndex|}}
    <div class="source-section" id="source-section-{{sourceIndex}}">
      <div class="source-header">
        <div class="source-title-row">
          <h3>{{sourceData.[0]}}</h3>
          <div class="source-toggle-row">
            <a class="source-toggle-none" data-source-index="{{sourceIndex}}">{{localize "MB.ScvmfactoryToggleNone"}}</a>&nbsp; /
            &nbsp;<a class="source-toggle-all" data-source-index="{{sourceIndex}}">{{localize "MB.ScvmfactoryToggleAll"}}</a>
          </div>
        </div>
      </div>
      <ul class="class-list">
        {{#each sourceData.[1]}}
        <li>
          <label><input name="{{this.uuid}}" type="checkbox" class="class-checkbox"{{#if this.checked}} checked{{/if}}/><span class="class-name" title="{{this.title}}">{{this.name}}</span></label>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/each}}
    <div class="toggle-row">
      <a class="toggle-none">{{localize "MB.ScvmfactoryToggleNone"}}</a>&nbsp; /
      &nbsp;<a class="toggle-all">{{localize "MB.ScvmfactoryToggleAll"}}</a>
    </div>
  </div>

  {{#if forActor}}
  <div class="section warning">
    <p>{{localize "MB.ScvmfactoryWarning"}}</p>
  </div>
  {{/if}}

  <div class="button-row">
    <button type="submit" class="button cancel-button" name="cancel" value="1">
      {{localize "MB.Cancel"}}
    </button>
    <button type="submit" class="button scvm-button" name="scvm" value="1">
      {{localize "MB.ScvmfactoryMakeScvm"}}
    </button>
  </div>
</form>
