<div class="tab cargo-tab" data-group="primary" data-tab="cargo">
  <div class="equipment-top-row">
    <div class="carry-block">
      <div>
        <span class="stat-label carrying-label">{{ localize "MB.Carrying" }}:</span>
        <span class="stat-value">{{data.system.carryingWeight}}</span>
        /
        <span class="stat-value">{{data.system.carryingCapacity}}</span>
      </div>
    </div>
    <div>
      <span class="rule-text {{ifPrint data.system.encumbered 'encumbered'}}">
        {{localize 'MB.StabilityRule'}}
      </span>
    </div>
  </div>
  <ol class="items-list equipment-list">
    {{> "systems/crysborg/templates/actor/common/equipment-list.hbs"}}
  </ol>

  <ol class="items-list inventory-list">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">{{localize 'MB.DraftSlot'}}</h3>
    </li>
    <ol class="item-list">
      {{#each data.system.draftActors as |draftActor|}}
        <li class="item flexrow" data-draft-actor-id="{{draftActor.id}}">
          <img src="{{draftActor.img}}" title="{{draftActor.name}}" width="24" height="24" />
          <h4 class="item-name draft-open">{{draftActor.name}}</h4>
          <div class="item-controls">
            <a class="draft-remove" title="{{localize 'MB.Remove'}}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </ol>

  <ol class="items-list inventory-list">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">{{localize 'MB.CarriageFittings'}}</h3>
      <div class="item-controls flexrow">
        <a class="item-control item-create" data-type="carriage-upgrade" title="{{localize 'MB.Add'}}"><i class="fas fa-plus"></i></a>
      </div>
    </li>
    <ol class="item-list">
      {{#each data.system.carriageUpgrades as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
          <div class="weapon-name-col">
            <h4 class="item-name item-edit rollable">
              {{item.name}}
              {{#ifEq item.system.quantity 0}}
                ({{localize 'MB.Empty'}})
              {{else}}
                {{#ifGt item.system.quantity 1}}
                  ({{item.system.quantity}})
                {{/ifGt}}
              {{/ifEq}}
            </h4>
            {{#if ../data.system.trackAmmo}}
              {{#if item.system.usesAmmo}}
                <div class="ammo-select-col">
                  <select
                    class="ammo-select"
                    name="selectedAmmo-{{item._id}}"
                    data-dtype="Number"
                    data-item-id="{{item._id}}"
                  >
                    <option value="" {{#unless item.system.ammoId}}selected{{/unless}}>{{localize 'MB.ItemTypeAmmo'}}</option>
                    {{#each ../data.system.ammo as |ammo ammoId|}}
                      <option value="{{ammo._id}}" {{#if (eq ../../item.system.ammoId ammo._id)}}selected{{/if}}>
                        {{ammo.name}} ({{ammo.system.quantity}})
                      </option>
                    {{/each}}
                  </select>
                </div>
              {{/if}}
            {{/if}}
          </div>
          <div class="item-fields">
            <span class="item-field">{{localize (lookup ../config.carriageLocations item.system.location)}}</span>
          </div>
          {{#ifNe item.system.attack.mode 'none'}}
            <div class="item-buttons">
              <button type="button" class="item-button rollable attack-button">
                {{#ifEq item.system.attack.mode 'custom'}}
                  {{item.system.attack.label}}
                {{else}}
                  {{localize 'MB.Attack'}}
                {{/ifEq}}
              </button>
            </div>
          {{/ifNe}}
          <div class="item-controls">
            <a
              class="item-control item-toggle item-toggle-equipped {{ifPrint item.system.equipped 'equipped'}}"
              title="{{ifPrintElse item.system.equipped (localize 'MB.ItemEquipped') (localize 'MB.ItemUnequipped')}}"
              ><i class="fas fa-shield-alt"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </ol>
</div>

