<header class="sheet-header">
  <div class="header-col1">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
  </div>
  <div class="header-gutter-col"></div>
  <div class="header-col2">
    <div class="name-row">
      <input class="actor-name" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'MB.Name' }}" spellcheck="false" />
    </div>
    <div class="classname-row item" data-item-id="{{data.system.class._id}}">
      <span class="stat-label">{{ localize "MB.Class" }}:</span>
      <label class="classname item-edit rollable">{{data.system.class.name}}</label>
    </div>
    <div class="hitpoints-row">
      <div class="hp-entries">
        <span class="stat-label">{{ localize "MB.Structure" }}:</span>
        <input class="stat-input" name="system.hp.value" type="number" value="{{data.system.hp.value}}" data-dtype="Number" /> /
        <input class="stat-input" name="system.hp.max" type="number" value="{{data.system.hp.max}}" data-dtype="Number" />
      </div>
    </div>
  </div>
  <div class="header-gutter-col"></div>
  <div class="header-col3">
    <div class="ability-row" title="{{localize 'MB.AbilitySpeedTooltip'}}">
      <input class="ability-input" type="text" name="system.abilities.speed.value" value="{{numberFormat data.system.abilities.speed.value decimals=0 sign=false}}" data-dtype="Number" size="3" />
      <span class="ability-label rollable speed-roll">{{ localize 'MB.AbilitySpeedAbbrev' }}</span>
    </div>
    <div class="ability-row" title="{{localize 'MB.AbilityStabilityTooltip'}}">
      <input class="ability-input" type="text" name="system.abilities.stability.value" value="{{numberFormat data.system.abilities.stability.value decimals=0 sign=false}}" data-dtype="Number" size="3" />
      {{#if data.system.overloaded}}
        <span class="overloaded-value">/{{data.system.abilities.stability.overloaded}}</span>
      {{/if}}
      <span class="ability-label rollable stability-roll">{{ localize 'MB.AbilityStabilityAbbrev' }}</span>
    </div>
  </div>
</header>

