<div class="tab upgrades-tab" data-group="primary" data-tab="upgrades">
  <ol class="items-list inventory-list">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">{{localize 'MB.DraftSlot'}}</h3>
    </li>
    <ol class="item-list">
      {{#each data.system.draftActors as |follower|}}
        <li class="item flexrow" data-follower-id="{{follower.id}}">
          <img src="{{follower.img}}" title="{{follower.name}}" width="24" height="24" />
          <h4 class="item-name follower-open">{{follower.name}}</h4>
          <div class="item-controls">
            <a class="follower-remove" title="{{localize 'MB.Remove'}}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </ol>
  <ol class="items-list inventory-list">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">{{localize 'MB.ItemTypeCarriageUpgrade'}}</h3>
      <div class="item-controls flexrow">
        <a class="item-control item-create" data-type="carriage-upgrade" title="{{localize 'MB.Add'}}"><i class="fas fa-plus"></i></a>
      </div>
    </li>
    <ol class="item-list">
      {{#each data.system.carriageUpgrades as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
          <h4 class="item-name item-edit">{{item.name}}</h4>
          <div class="item-fields"><span class="item-field">{{localize (lookup ../config.carriageLocations item.system.location)}}</span></div>
          <div class="item-controls">
            <a
              class="item-control item-toggle item-toggle-equipped {{ifPrint item.system.equipped 'equipped'}}"
              title="{{ifPrintElse item.system.equipped (localize 'MB.ItemEquipped') (localize 'MB.ItemUnequipped')}}"
              ><i class="fas fa-shield-alt"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </ol>
</div>

