{{!-- Price --}}
<div class="form-group">
  <label>{{ localize "MB.ItemPrice" }}:</label>
  <input
    type="text"
    name="system.price"
    value="{{data.system.price}}"
    placeholder="2"
    data-dtype="Number"
  />
</div>

{{!-- Tags --}}
<div class="form-group">
  <label>{{ localize "MB.Tags" }}:</label>
  <div class="tag-input-wrapper">
    <input
      type="text"
      name="flags.crysborg.tags"
      value="{{flags.crysborg.tags}}"
      placeholder="{{ localize 'MB.TagsPlaceholder' }}"
    />
    <div class="tag-dropdown"></div>
  </div>
</div>

{{!-- Carry weight --}}
<div class="form-group">
  <label>{{ localize "MB.CarryWeight" }}:</label>
  <input
    type="text"
    name="system.carryWeight"
    value="{{data.system.carryWeight}}"
    placeholder="1"
    data-dtype="Number"
  />
</div>

{{!-- Container space --}}
<div class="form-group">
  <label>{{ localize "MB.ContainerSpace" }}:</label>
  <input
    type="text"
    name="system.containerSpace"
    value="{{data.system.containerSpace}}"
    placeholder="1"
    data-dtype="Number"
  />
</div>
