{{!-- DR Modifiers --}}
<div class="form-group">
  <label>{{ localize 'MB.ItemStrengthDRModifier' }}:</label>
  <input type="text" name="system.drModifiers.strength" value="{{data.system.drModifiers.strength}}" placeholder="0" data-dtype="Number" />
</div>
<div class="form-group">
  <label>{{ localize 'MB.ItemAgilityDRModifier' }}:</label>
  <input type="text" name="system.drModifiers.agility" value="{{data.system.drModifiers.agility}}" placeholder="0" data-dtype="Number" />
</div>
<div class="form-group">
  <label>{{ localize 'MB.ItemToughnessDRModifier' }}:</label>
  <input type="text" name="system.drModifiers.toughness" value="{{data.system.drModifiers.toughness}}" placeholder="0" data-dtype="Number" />
</div>
<div class="form-group">
  <label>{{ localize 'MB.ItemPresenceDRModifier' }}:</label>
  <input type="text" name="system.drModifiers.presence" value="{{data.system.drModifiers.presence}}" placeholder="0" data-dtype="Number" />
</div>
<div class="form-group">
  <label>{{ localize 'MB.ItemAttackDRModifier' }}:</label>
  <input type="text" name="system.drModifiers.attack" value="{{data.system.drModifiers.attack}}" placeholder="0" data-dtype="Number" />
</div>
<div class="form-group">
  <label>{{ localize 'MB.ItemDefenseDRModifier' }}:</label>
  <input type="text" name="system.drModifiers.defense" value="{{data.system.drModifiers.defense}}" placeholder="0" data-dtype="Number" />
</div>
