<form class="flexcol {{cssClass}}" autocomplete="off">
  {{> systems/crysborg/templates/item/common/sheet-header.hbs }} 
  {{> systems/crysborg/templates/item/common/sheet-tabs.hbs }}

  <section class="sheet-body">
    {{> systems/crysborg/templates/common/description-tab.hbs }} 
    
    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      {{> systems/crysborg/templates/item/common/base-fields.hbs }} 
      
      {{!-- Armor Current Tier --}}
      <div class="form-group">
        <label>{{ localize "MB.ArmorCurrentTier" }}:</label>
        <select name="system.tier.value" data-dtype="Number">
          {{selectOptions config.armorTiers selected=data.system.tier.value nameAttr="key" labelAttr="key" localize=true}}
        </select>
      </div>

      {{!-- Armor Max Tier --}}
      <div class="form-group">
        <label>{{ localize "MB.ArmorMaxTier" }}:</label>
        <select name="system.tier.max" data-dtype="Number">
          {{selectOptions config.armorTiers selected=data.system.tier.max nameAttr="key" labelAttr="key" localize=true}}
        </select>
      </div>

      {{!-- Armor Effect --}}
      <div class="form-group">
        <label>{{ localize "MB.ArmorTierNote" }}:</label>
        <input name="system.tierNote" type="text" value="{{data.system.tierNote}}" placeholder="{{ localize 'MB.ArmorEffectPlaceholder' }}" data-dtype="String"/>
      </div>
    </div>
  </section>
</form>
