<form class="flexcol {{cssClass}}" autocomplete="off">
  {{> systems/crysborg/templates/item/common/sheet-header.hbs }}
  {{> systems/crysborg/templates/item/common/sheet-tabs.hbs }}

  <section class="sheet-body">
    {{> systems/crysborg/templates/common/description-tab.hbs }} 
    
    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      {{!-- Price --}}
      <div class="form-group">
        <label>{{ localize "MB.ItemPrice" }}:</label>
        <input
          type="text"
          name="system.price"
          value="{{data.system.price}}"
          placeholder="2"
          data-dtype="Number"
        />
      </div>

      {{!-- Carry weight --}}
      <div class="form-group">
        <label>{{ localize "MB.CarryWeight" }}:</label>
        <input
          type="text"
          name="system.carryWeight"
          value="{{data.system.carryWeight}}"
          placeholder="1"
          data-dtype="Number"
        />
      </div>

      {{!-- Capacity --}}
      <div class="form-group">
        <label>{{ localize "MB.ItemCapacity" }}:</label>
        <input
          type="text"
          name="system.capacity"
          value="{{data.system.capacity}}"
          placeholder="1d4"
          data-dtype="Number"
        />
      </div>

      {{!-- DR Modifiers --}}
      <div class="form-group-stacked">
        <div class="collapsible-section">
          <h3 class="collapsible-header crysborg">
            <i class="fas fa-chevron-right"></i>
            <span class="header-title" data-tooltip="{{ localize 'MB.DRModifiersDescription' }}">{{ localize "MB.DRModifiers" }}</span>
          </h3>
          <div class="collapsible-content hidden">
            <div class="form-group">
              <label class="crysborg">{{ localize "MB.AbilityStrengthAbbrev" }}:</label>
              <input
                class="crysborg"
                type="text"
                name="system.drModifiers.strength"
                value="{{data.system.drModifiers.strength}}"
                placeholder="0"
                data-dtype="Number"
              />
            </div>

            <div class="form-group">
              <label class="crysborg">{{ localize "MB.AbilityAgilityAbbrev" }}:</label>
              <input
                class="crysborg"
                type="text"
                name="system.drModifiers.agility"
                value="{{data.system.drModifiers.agility}}"
                placeholder="0"
                data-dtype="Number"
              />
            </div>

            <div class="form-group">
              <label class="crysborg">{{ localize "MB.AbilityPresenceAbbrev" }}:</label>
              <input
                class="crysborg"
                type="text"
                name="system.drModifiers.presence"
                value="{{data.system.drModifiers.presence}}"
                placeholder="0"
                data-dtype="Number"
              />
            </div>

            <div class="form-group">
              <label class="crysborg">{{ localize "MB.AbilityToughnessAbbrev" }}:</label>
              <input
                class="crysborg"
                type="text"
                name="system.drModifiers.toughness"
                value="{{data.system.drModifiers.toughness}}"
                placeholder="0"
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
