<form class="flexcol {{cssClass}}" autocomplete="off">
  {{> systems/crysborg/templates/item/common/sheet-header.hbs }} 
  {{> systems/crysborg/templates/item/common/sheet-tabs.hbs }}

  <section class="sheet-body">
    {{> systems/crysborg/templates/common/description-tab.hbs }} 
    
    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      {{!-- Roll Label --}}
      <div class="form-group">
        <label>{{ localize "MB.RollLabel" }}:</label>
        <input
          type="text"
          name="system.rollLabel"
          value="{{data.system.rollLabel}}"
          placeholder=""
          data-dtype="String"
        />
      </div>

      {{!-- Roll Formula --}}
      <div class="form-group">
        <label>{{ localize "MB.RollFormula" }}:</label>
        <input
          type="text"
          name="system.rollFormula"
          value="{{data.system.rollFormula}}"
          placeholder=""
          data-dtype="String"
        />
      </div>

      {{!-- Roll Macro --}}
      <div class="form-group">
        <label>{{ localize "MB.RollMacro" }}:</label>
        <input
          type="text"
          name="system.rollMacro"
          value="{{data.system.rollMacro}}"
          placeholder=""
          data-dtype="String"
        />
      </div>

      {{!-- DR Modifiers --}}
      <div class="form-group-stacked">
        <div class="collapsible-section">
          <h3 class="collapsible-header crysborg">
            <i class="fas fa-chevron-right"></i>
            <span class="header-title" data-tooltip="{{ localize 'MB.DRModifiersDescription' }}">{{ localize "MB.DRModifiers" }}</span>
          </h3>
          <div class="collapsible-content hidden">
            <div class="form-group">
              <label class="crysborg">{{ localize "MB.AbilityStrengthAbbrev" }}:</label>
              <input
                class="crysborg"
                type="text"
                name="system.drModifiers.strength"
                value="{{data.system.drModifiers.strength}}"
                placeholder="0"
                data-dtype="Number"
              />
            </div>

            <div class="form-group">
              <label class="crysborg">{{ localize "MB.AbilityAgilityAbbrev" }}:</label>
              <input
                class="crysborg"
                type="text"
                name="system.drModifiers.agility"
                value="{{data.system.drModifiers.agility}}"
                placeholder="0"
                data-dtype="Number"
              />
            </div>

            <div class="form-group">
              <label class="crysborg">{{ localize "MB.AbilityPresenceAbbrev" }}:</label>
              <input
                class="crysborg"
                type="text"
                name="system.drModifiers.presence"
                value="{{data.system.drModifiers.presence}}"
                placeholder="0"
                data-dtype="Number"
              />
            </div>

            <div class="form-group">
              <label class="crysborg">{{ localize "MB.AbilityToughnessAbbrev" }}:</label>
              <input
                class="crysborg"
                type="text"
                name="system.drModifiers.toughness"
                value="{{data.system.drModifiers.toughness}}"
                placeholder="0"
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
